// Color Variables
$primary-color: #1B2330;
$secondary-color:#2B414E;
$accent-color:#93D9F8;
$white-color: #FFFFFF;
$primary-text: #F8FCEF;
$secondary-text:#B6B9BE;

// Font Variables
$primary-font: 'Poppins', sans-serif;